<h1>Who's Gonna Die !</h1>
<h2>Edition 2016</h2>
<h4>Voici les règles de cette année:</h4>
<ul>
    <li>Cette liste doit être donnée avant le 15 Janvier et ne peut pas être modifier au cours de l'année. </li>
    <li>Sauf, s'il arrivait quelque chose à un de nos 10 poulains. 
        <ul>
            <li>Dans ce cas, le participant peut rajouter un nom dans sa liste et il peut remodeler l'ordre de ses poulains ; privilège des vainqueurs!</li>
        </ul>
    </li>
    <li>Tant qu'un de nos poulains ne nous quitte pas, on ne touche pas à cette liste!</li>
    <li>Une liste annexe de 5 noms doit aussi être donnée. 
        <ul>
            <li>Cette liste peut-être, elle, modifiable à chaque instant donc guettez bien les dépêches AFP! </li>
            <li>Comme cette liste est modifiable, vous comprendrez qu'elle ne rapporte que 2 points.</li>
            <li>Condition pour gagner ces 2 points, que le poulain en question nous quitte au moins un mois après avoir été intégrer à cette seconde liste.</li>
            <li>Sinon dans le cas de figure suivant "Mr X à fait un AVC et est dans un état critique", tout le monde va miser sur lui... C'est pas très sport!</li>
        </ul>
    </li>
</ul>
<p>N'oublions pas que ce concourt est placé sous le signe du fair-play et de la déontologie!!!</p>

<p>Jeunes gens, à vos listes!!!</p>
<app-ranking></app-ranking>