<h1>Who is Gonna Die ?</h1>
<h2>The Game !</h2>


<p>
  Well well well... Put here some information on how all this crap works !
</p>

It uses Angular 2 (because it's fun !)
<ul>
<li>
    Where is the code ?
</li>
<li>
    How to compile
</li>
<li>
    How to deploy
</li>
<li>
    How it works (server side)
</li>
</ul>

And also... What's next ?!
<ul>
<li>Better management of users (when displaying details)</li>
<li>Show a list of "sick" people... </li>
<li>Show latest deads.</li>
<li>A timed graph of points ?</li>
</ul>